/* _content/ServerWebUI/Components/Layout/MainHeader.razor.rz.scp.css */
a[b-kln1jf78fu] {
    color: #eb7365;
    text-decoration: none;
}

    a:hover[b-kln1jf78fu] {
        color: #d68a2e;
        text-decoration: none;
    }

/*.header {
    background-image: linear-gradient(to left, #eb7365, #ff8e13);
}*/

.header-main[b-kln1jf78fu] {
    background-color: #404E67;
    height: 56px;
}

.logo[b-kln1jf78fu] {
    padding: 10px 10px;
    gap: 10px;
    border-radius: 0px;
}

@media (min-width: 1200px) {
    .logo[b-kln1jf78fu] {
        width: 208px;
    }
}

.nav-link:focus-visible[b-kln1jf78fu] {
    outline: 0;
    box-shadow: none;
}

.logo img[b-kln1jf78fu] {
    width: 105px;
}
    .logo img.small-logo[b-kln1jf78fu] {
        width: 35px;
    }

.logo span[b-kln1jf78fu] {
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
}

.header[b-kln1jf78fu] {
    transition: all 0.5s;
    z-index: 997;
    height: 56px;
    box-shadow: 0px 1px 4px rgb(68 68 68 / 14%);
    /*    padding: 0px 10px 0px 0px;*/
}

    .header .toggle-asidebar-btn[b-kln1jf78fu] {
        margin-top: 0px;
        font-size: 21px;
        padding: 0px 10px;
        cursor: pointer;
        color: #f6f9ff;
    }


/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.main-top-nav[b-kln1jf78fu] {
    background-image: linear-gradient(to left, #ffffff, #f3f3f3);
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    /* background: #fff; */
    /*    border-bottom: 1px solid #e1e1e1;*/
    padding: 0 10px;
}

.header-nav ul[b-kln1jf78fu] {
    list-style: none;
}

.header-nav > ul[b-kln1jf78fu] {
    margin: 0;
    padding: 0;
}

.header-nav .nav-icon[b-kln1jf78fu] {
    font-size: 22px;
    color: #404e67 !important;
    margin-right: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-fuulscreen i[b-kln1jf78fu] {
    font-size: 18px;
}
.header-nav .nav-profile[b-kln1jf78fu] {
    color: #012970;
}

    .header-nav .nav-profile img[b-kln1jf78fu] {
        max-height: 32px;
        border: 2px solid #404e67;
    }

    .header-nav .nav-profile span[b-kln1jf78fu] {
        font-size: 14px;
        font-weight: 600;
    }

.header-nav .profile[b-kln1jf78fu] {
    inset: 47px -2px auto auto !important;
}

    .header-nav .profile li:last-child[b-kln1jf78fu] {
        border-radius: 0px 0px 3px 3px;
        overflow: hidden;
    }

.header-nav .badge-number[b-kln1jf78fu] {
    position: absolute;
    inset: -2px -3px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 2px 4px;
}

.header-nav .notifications[b-kln1jf78fu] {
    inset: 8px -15px auto auto !important;
}

.header-nav .profile[b-kln1jf78fu] {
    inset: 11px 0px auto auto !important;
}


.header-nav .notifications .notification-item[b-kln1jf78fu] {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    transition: 0.3s;
    background-color: #1c6387;
}

    .header-nav .notifications .notification-item i[b-kln1jf78fu] {
        margin: 0 20px 0 10px;
        font-size: 24px;
    }

    .header-nav .notifications .notification-item h4[b-kln1jf78fu] {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #ff8e13;
    }

    .header-nav .notifications .notification-item p[b-kln1jf78fu] {
        font-size: 13px;
        margin-bottom: 3px;
        color: #ffffff;
    }

    .header-nav .notifications .notification-item:hover[b-kln1jf78fu] {
        background-color: #2d7499;
    }

.header-nav .messages[b-kln1jf78fu] {
    inset: 8px -18px auto auto !important;
}

    .header-nav .messages .message-item[b-kln1jf78fu] {
        padding: 12px 10px;
        transition: 0.3s;
        background-color: #1c6387;
    }

        .header-nav .messages .message-item a[b-kln1jf78fu] {
            display: flex;
        }

        .header-nav .messages .message-item img[b-kln1jf78fu] {
            margin: 0 15px 0 0px;
            max-height: 40px;
            border: 2px solid #ff8e13;
        }

        .header-nav .messages .message-item h4[b-kln1jf78fu] {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
            color: #ff8e13;
        }

        .header-nav .messages .message-item p[b-kln1jf78fu] {
            font-size: 13px;
            margin-bottom: 3px;
            color: #ffffff;
        }

        .header-nav .messages .message-item:hover[b-kln1jf78fu] {
            background-color: #2d7499;
        }

            .header-nav .messages .message-item:hover .dropdown-menu[b-kln1jf78fu]:before {
                background-color: #2d7499;
            }
/*.hospital-nm {
    font-size: 18px;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-top: 3px;
    margin-left: 17px;
}*/
.hospital-nm[b-kln1jf78fu] {
    height: 27px;
    margin: 0 10px;
}

.header-nav .profile[b-kln1jf78fu] {
    min-width: 240px;
    padding-bottom: 0;
}

    .header-nav .profile .dropdown-header h6[b-kln1jf78fu] {
        font-size: 18px;
        margin-bottom: 0;
        font-weight: 600;
        color: #ffffff;
    }

    .header-nav .profile .dropdown-header span[b-kln1jf78fu] {
        font-size: 14px;
    }

    .header-nav .profile .dropdown-item[b-kln1jf78fu] {
        background-color: transparent;
        font-size: 14px;
        padding: 10px 15px;
        transition: 0.3s;
        color: #26323a;
        font-weight: 600;
    }

        .header-nav .profile .dropdown-item i[b-kln1jf78fu] {
            margin-right: 10px;
            font-size: 18px;
            line-height: 0;
        }

        .header-nav .profile .dropdown-item:hover[b-kln1jf78fu] {
            background-color: #eb73650d;
            color: #eb7365;
        }
#exitFullscreen[b-kln1jf78fu] {
    display: none;
}

.header-fuulscreen i[b-kln1jf78fu] {
    cursor: pointer;
}
/* Dropdown menus */
.dropdown-menu[b-kln1jf78fu] {
    border-radius: 4px;
    padding: 0px 0;
    animation-name: dropdown-animate-b-kln1jf78fu;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdow[b-kln1jf78fu] {
    position: relative;
}
 .nav-right[b-kln1jf78fu] {
    display: flex;
    align-items: center;
    gap: 20px;
}
    .header-navbar .navbar-wrapper .navbar-container .nav-right li[b-kln1jf78fu] {
        padding: 0;
    }
.header-navbar .navbar-wrapper .navbar-container .header-notification[b-kln1jf78fu] {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    z-index: 99;
    cursor: pointer;
}
.dropdown-danger[b-kln1jf78fu], .dropdown-default[b-kln1jf78fu], .dropdown-disabled[b-kln1jf78fu], .dropdown-info[b-kln1jf78fu], .dropdown-inverse[b-kln1jf78fu], .dropdown-primary[b-kln1jf78fu], .dropdown-success[b-kln1jf78fu], .dropdown-warning[b-kln1jf78fu], .dropdown-warning[b-kln1jf78fu] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
    .dropdow:hover .dropdown-menu[b-kln1jf78fu] {
        display: block;
    }

.dropdown-menu .dropdown-header[b-kln1jf78fu],
.dropdown-menu .dropdown-footer[b-kln1jf78fu] {
    text-align: center;
    font-size: 15px;
    padding: 6px 25px;
    color: #eb7365;
}

    .dropdown-menu .dropdown-footer a[b-kln1jf78fu] {
        color: #fff;
        text-decoration: underline;
    }

.bg-ft[b-kln1jf78fu] {
    background-color: #d68a2e;
}

.dropdown-menu .dropdown-footer a:hover[b-kln1jf78fu] {
    text-decoration: none;
}

.dropdown-menu .dropdown-divider[b-kln1jf78fu] {
    margin: 0;
    border-top: 1px solid rgb(157 157 157);
}

.dropdown-menu .dropdown-item[b-kln1jf78fu] {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}

    .dropdown-menu .dropdown-item i[b-kln1jf78fu] {
        margin-right: 10px;
        font-size: 18px;
        line-height: 0;
    }

    .dropdown-menu .dropdown-item:hover[b-kln1jf78fu] {
        background-color: #f6f9ff;
    }
.btn[b-kln1jf78fu] {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 600;
    cursor: pointer;
}
.btn-sm[b-kln1jf78fu] {
    padding: 3px 6px;
    line-height: normal;
    font-size: 13px;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.btn-outline-success[b-kln1jf78fu] {
    color: #07885b;
    background-color: transparent;
    border: 1px solid #07885b;
    margin-right: 15px;
    font-size: 13px;
    padding: 0 6px;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 30px;
}
    .btn-outline-success i[b-kln1jf78fu] {
        font-size: 17px;
    }
    @media (min-width: 372px) {
        .dropdown-menu-arrow[b-kln1jf78fu]::before {
            content: "";
            width: 14px;
            height: 17px;
            background: #d68a2e;
            position: absolute;
            top: -10px;
            right: 20px;
            transform: rotate(50deg);
            border-left: 3px solid #fff;
            border-top: 3px solid #fff;
        }
    }

@media (min-width: 400px) {

    .profile[b-kln1jf78fu]::before {
        background: #fff !important;
    }

    .profile[b-kln1jf78fu]::before {
        right: 12px !important;
    }

    .filter-cal[b-kln1jf78fu]::before {
        background: #fff;
        border-left: 2px solid #ff8e13;
        border-top: 2px solid #ff8e13;
        border-radius: 0px 0px 50px 0px;
        top: -9.5px !important;
    }

    .col-md-3[b-kln1jf78fu] {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (max-width: 500px) {
    .hospital-nm[b-kln1jf78fu] {
        /*        font-size: 11px !important;*/
        height: 16px;
    }

    .main-top-nav[b-kln1jf78fu] {
        height: 55px;
        border-bottom: 0px solid #e1e1e1;
    }

    .header-main[b-kln1jf78fu] {
        height: 55px;
    }

    .header[b-kln1jf78fu] {
        height: 55px;
    }
}

@keyframes dropdown-animate-b-kln1jf78fu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}
/* _content/ServerWebUI/Components/Layout/MainLayout.razor.rz.scp.css */

main[b-qsoub8gnq1] {
    margin-left: 260px;
    margin-top: 70px;
    padding: 10px;
    transition: all 0.3s;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
/* _content/ServerWebUI/Components/Layout/NavMenu.razor.rz.scp.css */
